body {
    font-family: Arial, sans-serif;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    width: 330px;
}

.header {
    background-color: #FF0099;
    color: black;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    position: relative;
    z-index: 2;
    margin: 0 50px;
}

.card2 {
    background-color: white;
    border-radius: 5px;
    margin-top: -30px;
    padding: 20px;
    z-index: 1;
}

.content {
    color: #333;
    font-size: 15px;
    line-height: 1.5;
}